html {
	background-color: rgb(0, 237, 255);
  background-image: url(../images/cyber-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

html:after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

body {
	height: 100vh;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  position: relative;
  z-index: 10;
}

a {
	color: rgb(0, 237, 255);
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}

h2 {
	font-size: 24px;
	font-weight: 600;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4 {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	min-height: 100%;
	padding: 100px;
}

.formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 600px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}

.formContent .logo-wrapper {
  text-align: left;
  padding: 20px 20px 0 20px;  
}

.formContent .login-form {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.formContent .small {
  font-size: 16px;
}

.formContent form {
  margin-top: 50px;
}

#formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.dashboardContent {
  max-width: 1000px;
  text-align: left;
}

h2.inactive {
	color: #cccccc;
}

h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5fbae9;
}

input[type=button],
input[type=submit],
input[type=reset],
.button {
	background-color: rgb(0, 237, 255);
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button.small {
  padding: 10px 60px;
  font-size: 16px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.button:hover {
	background-color: rgb(0, 187, 201);
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
.button:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[type=text] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type=password] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
	background-color: #fff;
	border-bottom: 2px solid rgb(0, 187, 201);
}

input[type=password]:focus {
	background-color: #fff;
	border-bottom: 2px solid rgb(0, 187, 201);
}

input[type=text]:placeholder {
	color: #cccccc;
}

input[type=password]:placeholder {
	color: #cccccc;
}

*:focus {
	outline: none;
}

#icon {
	width: 60%;
}

* {
	box-sizing: border-box;
}

.error {
	display: block;
	color: red;
	font-size: 0.85em;
}

iframe {
  height: 100%;
  width: 100%;
}

.iframe-overlay {
  position: fixed;
  top: 120px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.iframe-overlay a {
  max-width: 380px;
  margin-left: 180px;
}

#welcome {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}

#welcomeMessage {
    padding: 22px;
}

#thanks {
	display: inline-block;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.3333%;
  padding: 20px;
}

.col-8 {
  width: 66.6666%;
  padding: 20px;
}

.col-12 {
  width: 100%;
}

.hidden {
	display: none;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  min-height: 150px;
  padding: 20px;
}

.block:last-child {
  margin-bottom: 0;
}

.user {
  display: flex;
  margin-top: 20px;
}

.user img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.user .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

.top-nav .left {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 20px;
}

.top-nav .right {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navigation {
  margin: 0 0 0 50px;
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation li {
  padding: 20px;
}