<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
	<title>Salt Customer Dashboard - Dashboard</title>
</head>

<body>

  

	<div class="wrapper fadeInDown">
		<div class="formContent dashboardContent">
      <div class="container">
        <div class="col-12 top-nav">
          <div class="left">
            <img src="/images/Logo_Salt_black.png" height="50px" alt="Salt">
            <ul class="navigation">
              <li sec:authorize="hasRole('BASIC_USER')"><a href="/mydashboard">Personal</a></li>
              <li sec:authorize="hasRole('SALES_USER')"><a href="/salesdashboard">Sales</a></li>
              <li sec:authorize="hasRole('HRM_USER')"><a href="/hrmdashboard">HRM</a></li>
              <li sec:authorize="hasRole('ADMIN_USER')"><a href="/admindashboard">Admin</a></li>
            </ul>
          </div>
          <div class="right">
            <a href="/logout" class="button small">Logout</a>
          </div>
        </div>

        <div class="col-4">          
          <h2 style="margin-top: 0px;" th:if="${dashboard.dashboardType.name() == 'PERSONAL'}">Personal Dashboard</h2>
          <h2 style="margin-top: 0px;" th:if="${dashboard.dashboardType.name() == 'SALES'}">Sales Dashboard</h2>
          <h2 style="margin-top: 0px;" th:if="${dashboard.dashboardType.name() == 'HRM'}">HRM Dashboard</h2>
          <h2 style="margin-top: 0px;" th:if="${dashboard.dashboardType.name() == 'ADMIN'}">Admin Dashboard</h2>
        </div>
        <div class="col-8">
          <div class="blocks">
            
            <div class="block" th:if="${dashboard.dashboardType.name() == 'PERSONAL'}">
              <h3>Pentest Results</h3>
              <p>No active pentest found.</p>
              <p><a target="_blank" href="https://salt-security.com/pentesting-as-a-service/" class="button small">Request Pentest</a></p>
            </div>

            <div class="block" th:if="${dashboard.dashboardType.name() == 'PERSONAL'}">
              <h3>Security Scan</h3>
              <p>No information available for the security scan.</p>
              <p><a target="_blank" href="https://salt-security.com/security-scan/" class="button small">Request Security Scan</a></p>
            </div>

            <div class="block" th:if="${dashboard.dashboardType.name() == 'PERSONAL'}">
              <h3>Workshops</h3>
              <p>Active<br>
              <ul>
                <li><a target="_blank" href="https://bitbucket.org/saltcybersecurity/juice-shop-demo/src/master/">Secure Coding</a></li>
                <li><a target="_blank" href="https://bitbucket.org/saltcybersecurity/security-config-demo/src/master/">Security Configuration</a></li>
                <li><a target="_blank" href="https://bitbucket.org/saltcybersecurity/security-config-demo/src/master/">Security Configuration</a></li>
              </ul>
            </div>

            <div class="block" th:if="${dashboard.dashboardType.name() == 'SALES'}">
              <h3>Sales</h3>
              Sales records
            </div>

            <div class="block" th:if="${dashboard.dashboardType.name() == 'HRM'}">
              <h3>Users</h3>
              <div class="users">
                <div class="user">
                  <img src="/images/placeholder.png">
                  <div class="info">
                    <h4>Teun Westbroek</h4>
                    <p>
                      Email: <a href="mailto:teun.westbroek@salt-security.com">teun.westbroek@salt-security.com</a><br>
                      Phone: 012345678
                    </p>
                  </div>
                </div>
                <div class="user">
                  <img src="/images/placeholder.png">
                  <div class="info">
                    <h4>Richard Maalman</h4>
                    <p>
                      Email: <a href="mailto:richard.maalman@salt-security.com">richard.maalman@salt-security.com</a><br>
                      Phone: 012345678
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="block">
              <h3>Manage users</h3>
              <div class="users">
                <div class="user">
                  <img src="/images/placeholder.png">
                  <div class="info">
                    <h4>Teun Westbroek (<a href="#">Bewerken</a>)</h4>
                    <p>
                      Email: <a href="mailto:teun.westbroek@salt-security.com">teun.westbroek@salt-security.com</a><br>
                      Phone: 012345678
                    </p>
                  </div>
                </div>
                <div class="user">
                  <img src="/images/placeholder.png">
                  <div class="info">
                    <h4>Richard Maalman (<a href="#">Bewerken</a>)</h4>
                    <p>
                      Email: <a href="mailto:richard.maalman@salt-security.com">richard.maalman@salt-security.com</a><br>
                      Phone: 012345678
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      
      
		</div>
	</div>
</body>

</html>