<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/main.css}" th:rel="stylesheet" type="text/css">
	<title>Salt Customer Dashboard - Sign Up</title>
</head>
<body>

<div class="wrapper fadeInDown">
	<div class="formContent">

    <div class="logo-wrapper">
      <img src="/images/Logo_Salt_black.png" height="100px" alt="Salt">
		</div>

    <div class="login-form">
      <h1>Salt Customer Dashboard</h1>

      <p>Welcome to the Salt Customer Dashboard.<br />Please sign in to continue.</p>
      
      <p th:each="url : ${urls}">
        <a class="button small" th:text="${url.key}" th:href="${url.value}">Client</a>
      </p>

      <p class="small">Not yet registered or forgot your login credentials? Contact our customer support at <a href="mailto:info@salt-security.com">info@salt-security.com</a>.</p>
       
    </div>
	</div>
</div>
</body>
</html>